body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.prodCell {
    border: grey solid 2px;
}

.prodBrand {
    color: dimgray;
    font-style: italic;
    text-decoration: none;
}

#allAny:hover {
    /* color: purple;
    box-shadow: none;
    /*border: solid black 1px;
    background-color: lightgray; */
    cursor: pointer;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
}

#allAny {
    color: hotpink;
    cursor: pointer;
    /* border: solid darkgray 1px; */
    background-color: white;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    box-shadow: 2px 2px darkgray;
}

.prodPrice {
    width: fit-content;
    display: inline;
}

.prodCurrency {
    width: fit-content;
    display: inline;
}

select {
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    box-shadow: 2px 2px darkgray;
    font-weight: bold;
    color: hotpink;
    background-color: white;
}

select:hover {
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    font-weight: bold; /*
    box-shadow: none;
    color: purple;
    background-color: lightgray; */
}

button {
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    box-shadow: 2px 2px darkgray;
    font-weight: bold;
    color: hotpink;
    background-color: white;
    cursor: pointer; 
}

select:hover,#allAny:hover,button:hover {
    color: purple;
    background-color: lightgray;
    box-shadow: none;
}

.popOutDiv {
    border-radius: 3px;
    box-shadow: 2px 2px darkgray;
    background-color: white;
    position: absolute;
    width: 160px;
    bottom: 30px;
    padding: 10px;
    visibility: hidden;
}

.popOutText {
    font-size: 12px;
    text-align: justify;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    visibility: inherit;
}

.prodCurrency {
    position: relative;
}

.prodCurrency:hover .popOutDiv {
    visibility: visible;
}

#greeting {
    display: none;
}