body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.prodCell {
    border: grey solid 2px;
}

.prodBrand {
    color: dimgray;
    font-style: italic;
    text-decoration: none;
}

#allAny:hover {
    /* color: purple;
    box-shadow: none;
    /*border: solid black 1px;
    background-color: lightgray; */
    cursor: pointer;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
}

#allAny {
    color: hotpink;
    cursor: pointer;
    /* border: solid darkgray 1px; */
    background-color: white;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    box-shadow: 2px 2px darkgray;
}

.prodPrice {
    width: fit-content;
    display: inline;
}

.prodCurrency {
    width: fit-content;
    display: inline;
}

select {
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    box-shadow: 2px 2px darkgray;
    font-weight: bold;
    color: hotpink;
    background-color: white;
}

select:hover {
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    font-weight: bold; /*
    box-shadow: none;
    color: purple;
    background-color: lightgray; */
}

button,[type=image] {
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    box-shadow: 2px 2px darkgray;
    font-weight: bold;
    color: hotpink;
    background-color: white;
    cursor: pointer;
    margin: 3px;
}

select:hover:not(.inactive),#allAny:hover:not(.inactive),button:hover:not(.inactive),[type=image]:hover:not(.inactive) {
    filter: brightness(0.8) hue-rotate(-20deg);
    box-shadow: none;
}

.popOutDiv {
    border-radius: 3px;
    box-shadow: 2px 2px darkgray;
    background-color: white;
    position: absolute;
    width: 160px;
    bottom: 30px;
    padding: 10px;
    visibility: hidden;
}

.popOutText {
    font-size: 12px;
    text-align: justify;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    visibility: inherit;
}

.prodCurrency {
    position: relative;
}

.prodCurrency:hover .popOutDiv {
    visibility: visible;
}

#openUser {
    padding-top: 3px;
}

.inactive {
    filter: none;
    filter: grayscale(1);
    box-shadow: none;
    background-color: lightgray;
    cursor: none;
}

/* Starts out hidden */
#userDiv, #userOptionsDiv {
    display: none;
}

#userDiv {
    padding: 8px;
    background-image: white;
    border-radius: 7px;
    border: 3px solid hotpink;
    box-shadow: 2px 2px darkgray;
    width: fit-content;
    margin: 5px;
}

#greeting {
    margin: 0px;
}

.topBarDiv {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    margin: 0px;
    height: fit-content;
    background-color: hotpink;
}

.topBarMessage {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin: 0rem;
    color: white;
}