* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

html, body {
    height: auto;
    margin: 0px;
    background-color: white;
}

.prodCell {
    border-radius: 0.4375em;
    width: 192.5px;
    padding: 0.4375em;
    box-shadow: 0.25em 0.25em #00000040;
    height: inherit;
}

.prodName, .colorName {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
}

.prodBrand {
    color: rgb(112, 112, 112);
    font-style: italic;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-bottom: 1em;
}

.prodImg {
    max-width: 192.5px;
    max-height: 192.5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#allAny:hover {
    /* color: purple;
    box-shadow: none;
    /*border: solid black 1px;
    background-color: lightgray; */
    cursor: pointer;
    border-radius: 0.1875em;
    padding-left: 0.1875em;
    padding-right: 0.1875em;
    padding-bottom: 0.125em;
}

.prodPrice, .prodCurrency {
    display: inline;
    color: rgb(191, 45, 118);
    font-weight: bolder;
}

.prodCurrency.none {
    color:rgb(112, 112, 112)
}

.priceDiv {
    width: fit-content;
    margin: 1em auto 1em auto;
}

select {
    border: none;
    border-radius: 0.1875em;
    padding-left: 0.1875em;
    padding-right: 0.1875em;
    padding-bottom: 0.125em;
    box-shadow: 0.125em 0.125em #00000040;
    font-weight: bold;
    color: rgb(191, 45, 118);
    background-color: white;
    margin: 3px auto 10px auto;
    display: block;
}

select:hover {
    border: none;
    border-radius: 0.1875em;
    padding-left: 0.1875em;
    padding-right: 0.1875em;
    padding-bottom: 0.125em;
    font-weight: bold; /*
    box-shadow: none;
    color: purple;
    background-color: lightgray; */
}

button,[type=image] {
    padding-left: 0.1875em;
    padding-right: 0.1875em;
    padding-bottom: 0.1875em;
    box-shadow: 0.125em 0.125em #00000040;
    font-weight: bold;
    color: rgb(191, 45, 118);
    background-color: white;
    cursor: pointer;
    margin: 5px;
    border: none;
    border-radius: 0.1875em;
    
}

.panel button {
    margin: 3px auto 3px auto;
    text-align: center;
    display: block;
}

[type=image] {
    border: 0.125em solid rgb(191, 45, 118);
    border-radius: 0.4375em;
}

select:hover:not(.inactive),#allAny:hover:not(.inactive),button:hover:not(.inactive),[type=image]:hover:not(.inactive) {
    filter: brightness(0.8) hue-rotate(-20deg);
    box-shadow: none;
}

.popOutDiv {
    border-radius: 3px;
    box-shadow: 2px 2px #00000040;
    background-color: white;
    position: absolute;
    padding: 10px;
    visibility: hidden;
    z-index: 2;
}

.popOutText {
    font-size: 12px;
    text-align: justify;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    visibility: inherit;
    color: rgb(112, 112, 112);
    font-weight: normal;
}

.prodCurrency .popOutDiv {
    width: 160px;
    left: -80px;
    bottom: 30px;
}

.moreColorsDiv {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-auto-rows: max-content;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 0.4375em;
    width: fit-content;
    visibility: hidden;
}

.colorsDiv+p:hover .moreColorsDiv {
    visibility: visible;
}

.prodCurrency {
    position: relative;
}

.prodCurrency:hover .popOutDiv {
    visibility: visible;
}

.colorsDiv {
    padding: 1em;
    display: grid;
    grid-column-gap: 10px;
    background-color: white;
    justify-content: center;
}

.colorsDiv:not(.colorsDiv+p) {
    margin-bottom: 1em;
}

.colorBox {
    height: 17px;
    width: 17px;
    display: inline-block;
    position: relative;
}

.colorBox:hover {
    filter: brightness(0.75);
}

.colorsDiv+p {
    display: block;
    text-align: center;
    font-style: italic;
    color: rgb(112, 112, 112);
    margin: 0.25em auto 1em auto;
    position: relative;
}

#openUser {
    padding-top: 3px;
    margin: 0px 4.75px;
    float:right;
}

.inactive {
    filter: none;
    filter: grayscale(1);
    box-shadow: none;
    background-color: lightgray;
    cursor: none;
}

/* Starts out hidden */
#userDiv, #userOptionsDiv, #sortDiv, #filterDiv, #highlight {
    display: none;
}

#userDiv {
    padding: 0.5em;
    background-color: white;
    border-radius: 0.4375em;
    border: 0.125em solid rgb(191, 45, 118);
    box-shadow: 0.125em 0.125em #00000040;
    width: fit-content;
    margin: 4.75px;
    position: absolute;
    right: 0px;
    z-index: 1;
}

#greeting {
    margin: 0px;
}

.topBarDiv {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    margin: 0px;
    height: fit-content;
    background-color: palevioletred;
    z-index: 3;
}

.topBarMessage {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin: 0rem;
    color: white;
}

.panel {
    border: 0.125em rgb(191, 45, 118) solid;
    border-radius: 0.4375em;
    background-color: white;
    width: 14.25em;
    padding: 0.4375em;
    box-shadow: 0.125em 0.125em #00000040;
    height: fit-content;
    max-height: calc(100vh - 1.75em);
    overflow: scroll;
    position: sticky;
    top: 5px;
}

#searchDiv p {
    text-align: center;
    margin: 3px;
}

#appetizers {
    position: relative;
}

#openTags {
    width: 10ch;
}

#allAny {
    color: rgb(191, 45, 118);
    cursor: pointer;
    /* border: solid darkgray 1px; */
    background-color: white;
    border-radius: 0.1875em;
    padding-left: 0.1875em;
    padding-right: 0.1875em;
    padding-bottom: 0.125em;
    box-shadow: 0.125em 0.125em #00000040;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(191, 45, 118);
    margin-top: 12.92px; 
    border-bottom: rgb(191, 45, 118) 0.125rem solid;
    padding-bottom: 0.1875em;
}

#titleDiv {
    background-color: rgb(191, 45, 118);
    padding: 4.75px 0em 4.75px 4.75px;
}

h1 {
    font-size: 2.25rem;
    margin: 0px;
    color: white;
    letter-spacing: 3.5px;
    display: inline;
    width: fit-content;
}

#body {
    margin: 5px;
    display: grid;
    grid-template-columns: 15.375em calc(100vw - calc(30.75em + 30px)) 15.375em;
    grid-column-gap: 10px;
}

#displayDiv {
    display: grid;
    align-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: auto;
    grid-template-columns: 206.5px 206.5px 206.5px 206.5px;
    grid-auto-rows: max-content;
}

.metric {
    font-weight: bold;
    color: rgb(191, 45, 118);
}

.color {
    width: 14.25em;
    height: 14.25em;
}

.colorHex {
    margin: 3px auto 7px auto;
    text-align: center;
}

#highlight {
    border-bottom: solid 0.125em rgb(191, 45, 118);
    padding-bottom: 0.1875em;
    margin-bottom: 0.4375em;
}

.buttonsDiv {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
}

#priceRange p, #priceRange input {
    display: inline;
    margin: 0px;
}

#priceRange input {
    width: 4ch;
}

#priceRange {
    margin: 3px auto 3px auto;
    width: fit-content;
}

#brandClear, #typeClear, #categoryClear {
    display: inline-block;
}

.filter {
    display: inline-block;
}

.panel div {
    margin: auto;
    width:fit-content;
}